.Card {
  width: 400px;
  height: 250px;
  margin-bottom: 2em;
  margin-left: 2em;
  border: 2px solid red;
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  box-shadow: 10px 10px grey;
}